{% extends "base.html" %}

{% block body %}

<table><tr><td>
    <h2><a href="/user/{{ current_user.email }}">{{ current_user.pretty_name }}</a></h2>
    </td><td><div style="width: 30px"></div></td><td style="font-size: 83%">
    currently
    {% if current_user.enabled %}
      enabled (<a class="light" href="?setenabled=0">disable</a>)
    {% else %}
      disabled (<a class="light" href="?setenabled=1">enable</a>)
    {% endif %}
    <form action="/" method="get">

    my tags <input name="tags" type="text" value="{{ current_user.tags|join:"," }}"/></form>

    </td></tr></table>
    <br/>

    send your snippets to snippets@crb-snippets-test.appspotmail.com by monday afternoon!

	  {% if current_user.pretty_name == 'peak.xu' %}
    <br/><br/>
    <a class="light" href="/reminderemail">Send reminder email</a>
    <br/><br/>
    <a class="light" href="/digestemail">Send digest email</a>
    {% endif %}

    <br/><br/>
    <h3>Users</h3>
    {% for user in all_users %}
      {{ user.0.pretty_name }}
      <br/>
    {% endfor %}
		<br/>
		<hr/>
	   <h3>Tags</h3>
     {% for tag in all_tags %}
       <a href="/tag/{{ tag.0 }}">{{ tag.0 }}</a>
      <br/>
    {% endfor %}

{% endblock %}
